/* NE 모바일 미디어쿼리 css */
@charset "utf-8";

@media only screen and (min-width: 650px) {
	.mtop,
	#mmenu {
		display: none;
	}
}
@media only screen and (max-width: 650px) {
	body {
		max-width: 650px;
		overflow-x: hidden;
	}
	.ibx {
		max-width: 100vw;
		overflow: hidden;
	}
	#top,
	.block,
	.side,
	#indic,
	.cont3 h2,
	.arrow,
	.arr,
	.indic,
	.faq {
		display: none;
	}
	#mmenu {
		display: block;
	}
	.mtop {
		display: block;
		height: 65px;
	}
	#ban {
		height: 60vw;
		overflow: hidden;
	}
	.slide {
		height: 50vw;
		background: #eee;
	}
	.slide>ul img {
		position: absolute;
		width: 120vw;
		height: 50vw;
		top: 50px;
		left: -20%;
		overflow-y: hidden;
	}
	.quick {
		margin-left: 3px;
	}
	.cont2 {
		width: 32vw;
		height: 47vw;
		overflow: hidden;
	}
	.cont2 img {
		width: 30vw;
	}
	.cont3 {
		height: 30vw;
	}
	#event {
		padding: 0;
		margin: 0;
	}
	/* 고객센터/공지사항 */
	.cont4 {
		border : none;
	}

}