@charset "utf-8";

/* 모바일용 css */

/* 상단 메뉴바 */
.mtop1 {
	position: fixed;
	width: 650px;
	height: 24px;
    margin: 0;
    padding: 5px 0;
    background-color: #fff;
	z-index: 999;
}

#mcart {
	padding-top: 5px;
	margin: 0;
}
#mcart>img {
	width: 20px;
	height: 20px;
}

#mcart span{
	position: absolute;
	display: inline-block;
	left: 12px;
	width: 12px;
	padding-top: 1px;
	font: 1px '맑은 고딕';
	color: #fff;
	background-color: orange;
	border-radius: 50%;
	text-align: center;
}
.mtop1>.mlogo>img {
	height: 14px;
}
.mlogo {
	position: absolute;
	top: 5px;
	text-align: center;
	
}
.ham {
	position: absolute;
	width: 10px;
	top: -5px;
	right: 6vw;
}

.mtop2 {
	position: absolute;
	top: 34px;
	width: 650px;
	height: 30px;
}
.mtop2>div {
	box-sizing: border-box;
	width: 325px;
	height: 100%;
	float: left;
	text-align: center;
}
.mtop2 a {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing:0.5px
}
.mtop2>div:first-child {
	background-color: orange;
}
.mtop2>div:last-child {
	background-color: rgb(146, 73, 175);
}

/* 햄버거 메뉴 */
#mmenu {
	position: absolute;
	top: 0;
	right: 0vw;
	width: 160px;
	z-index: 99999999;
}

ul.mmenu,
.mmenu li {
	padding: 10px 20px;
	display: block;
	clear: both;
}
.mmenu {
	background-color: #f8f8f8;
}
.mmenu>li>a {
	font-size: 16px;
	color: #888;
	line-height: 24px;
}
.mmenu>li:hover>a {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: -0.5px;
	color: rgb(146, 73, 175);
}
.msub {
	background-color: #fff;
}
.msub>li>a {
	font-size: 15px;
	color: #333;
	line-height: 24px;
}
.msub>li:hover>a {
	font-size: 16px;
	color: #ccc;
}

